.box {
  /* border: 1px solid black; */
  width: 99.5vw;
  height: 99.5vh;
  margin: auto;
}

.box__input {
  margin-top: calc(50vh - 24px);
  margin-left: calc(50vw - 145px);
  font-size: 21px;
  padding: 10px 15px;
  border: none;
}

.box__substrate {
  width: 286.13px;
  height: 44.55px;
  margin-left: calc(50vw - 145px);
  margin-top: 5px;
  border: 1px solid black;
  /* padding-left: 10px; */
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
}

.box__substrate__label {
  /* margin-left: auto; */
}